
/**
 * Upload.css : CSS file for the Upload page
 * 
 * @author Stoupy51
 * 
**/

/* Root */
:root {
	/* Constantes */
	--primary_color: #448a95;
	--base_animation_duration: 30s;
	--alert_bg_color: rgb(255, 243, 205);
	--alert_color: rgb(102, 77, 3);
	--alert_border_color: rgb(255, 230, 156);
	--error_bg_color: rgb(255, 205, 205);
	--error_color: rgb(102, 3, 3);
	--error_border_color: rgb(255, 156, 156);
	--root_background_color: #444444; /* e9e9e9 */
	--root_font-size: 16px;
	--root_box_shadow:	2px 2px 1px -1px rgba(0, 0, 0, 0.2),
						0px 1px 1px 0px rgba(0, 0, 0, 0.14),
						0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	--root_bg_color_main: #f2f2f2;
	--root_bg_color_secondary: #dddddd;
	--root_bg_color_tertiary: #cccccc;					


	/* Bases */
	background: var(--root_background_color);
	font-size: var(--root_font-size);
}






/* Global */
.as_primary_color {
	background-color: var(--primary_color);
}

.as_header {
	top: 0;
	position: fixed;
	width: 100%;
	z-index: -101;
	padding-top: 62px;
}

.as_footer {
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.as_hx {
	font-size: 28px;
	font-weight: 600;
	white-space: wrap;
	line-height: 33.6px;
	color: #000000;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--root_background_color);
	width: fit-content;
	margin: auto;
	box-shadow:
		0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.as_top_container {
	position: absolute;
	top: 3rem;
	left: 50%;
	transform: translate(-50%, 0);
	padding-bottom: 4rem;
	width: max(35vw, 540px);
}

.as_warning {
	padding: 1rem;
	margin: 1rem auto;

	color: var(--alert_color);
	background-color: var(--alert_bg_color);
	border: 1px solid var(--alert_border_color);
	border-radius: 5px;

	width: max(35vw, 540px);
	box-shadow:
		0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.as_error {
	padding: 1rem;
	margin: 1rem auto;

	color: var(--error_color);
	background-color: var(--error_bg_color);
	border: 1px solid var(--error_border_color);
	border-radius: 5px;

	width: 35vw;
	box-shadow:
		0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.as_navigation {
	z-index: 100;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #4da1ae;
	border-bottom-left-radius: 0.75rem;

	/* Animation qui fait apparaitre la navigation */
	animation: fadeIn 0.5s ease-in-out;
}

.as_navigation > a {
	text-decoration: 0;
}

.as_home_button, .as_logout_button {
	padding: 0.75rem;
	width: 64px;
}

.as_logout_button {
	background-color: #4896a1;
}



/* Banner */
@keyframes fadeIn {
	0% { opacity: 0; } 
	100% { opacity: 1; }
}

.as_banner {
	position: fixed;
	z-index: -100;
	right: 0;
	bottom: -50px;
	width: 1500px;
}


/* Gestion des vagues */
.as_waves {
	position: fixed;
	top: 60px;
	width: 100%;
	height: 15vh;
	margin-bottom: -7px;
	/* Fix for safari gap */
	min-height: 100px;
	max-height: 150px;
	scale: 1 -1;
}

.as_parallax > use {
	animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
	fill: var(--primary_color)
}

.as_parallax > use:nth-child(1) {
	animation-delay: -10s;
	animation-duration: calc(var(--base_animation_duration));
	opacity: 0.7;
}

.as_parallax > use:nth-child(2) {
	animation-delay: -16s;
	animation-duration: calc(var(--base_animation_duration) * 1.0);
	opacity: 0.5;
}

.as_parallax > use:nth-child(3) {
	animation-delay: -20s;
	animation-duration: calc(var(--base_animation_duration) * 1.6);
	opacity: 0.2;
}

.as_parallax > use:nth-child(4) {
	animation-delay: -25s;
	animation-duration: calc(var(--base_animation_duration) * 3.0);
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}

	100% {
		transform: translate3d(85px, 0, 0);
	}
}


/* TODO : Adaptation au mobile */
@media (max-width: 600px) {

	/* Correction des largeurs */
	.as_warning, .as_error, .as_top_container {
		width: 90vw;
	}

	/* Correction des hauteurs */
	.as_top_container {
		top: 5rem;
	}
};



html {
	height: 100%;
}

input[type="range"], .progress_container {
	width: 30rem;
}

label {
	width: fit-content;
	display: block;
}

.progress_container {
	margin-top: 1rem;
}

.progress_bar {
	width: 100%;
	display: block;
	height: 20px;

	border: 1px solid #000;
	border-radius: 5px;
}

.progress_bar_inner {
	background-color: rgb(0, 169, 0);
	display: block;
	height: 100%;
	transition: width 1s ease;
}

.progress_text {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
}

.progress_text span {
	display: inline-block;
}

.progress_text span:nth-child(1), .progress_text span:nth-child(3) {
	text-decoration: underline;
}

.progress_time span {
	display: flex;
}

.progress_time > span > span:nth-child(1) {
	width: 25%;
}

